section {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 1rem;
  align-items: center;
}

button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

button img {
  max-width: 40px;
}

h1 {
  text-align: center;
}
