.container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card {
  max-width: 250px;
  border: 1px solid;
  border-radius: 8px;
  overflow: hidden;
}

.card img {
  width: 100%;
}

.card-content {
  padding: 0 8px;
}

.card h3,
.card p {
  margin: 6px 0;
}
